#warp{
  /* background: crimson; */
  width: 70%;
  margin: 100px auto;
}
#warp::after{
  content: "";
  display: block;
  clear: both;
}
#start_content{
  /* background: darkgrey; */
  width: 30%;
  float: left;
}
#main_content{
  /* background: slateblue; */
  width: 70%;
  float: left;
}
#category_content{
  /* background: forestgreen; */
  display: none;
}
#menu_content{
  /* background: saddlebrown; */
  display: none;
}
#replay_btn{
  display: none;
}